<div class="title-block">
	<h3 class="title pull-left">
		Страница истории <span class="sparkline bar"></span>
	</h3>
	<div class="pull-right">
		<button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
		  <i class="fa fa-filter"></i>
		</button>
	</div>
</div>
<div *ngIf="!isLoaded" class="text-center">
	<fb-loader></fb-loader>
</div>
<div *ngIf="isLoaded">
	<fb-history-chart [data]="chartData"></fb-history-chart>

	<fb-history-events 
		[categories]="categories"
		[events]="filteredEvents"
	></fb-history-events>
	<div *ngIf="isFilterVisible">
		<fb-history-filter
			(onFilterApply)="onFilterAppy($event)"
			(onFilterCancel)="onFilterCancel()"
			[categories]="categories"
		></fb-history-filter>
	</div>
</div>

